:root {
    --bluent: #7f83ea;
}

*::selection {
    background-color: var(--bluent, blue);
    color: white;
}

.fs-10px {
    font-size: 10px;
}

.fs-11px {
    font-size: 11px;
}

.ws-nw {
    white-space: nowrap;
}

.hover-dark:hover {
    color: black!important;
}

.hover-blue:hover {
    text-decoration: underline!important;
    text-decoration-color: var(--bluent, blue)!important;
    text-decoration-thickness: 4px!important;
}

.catalog-element {
    text-decoration-color: lightgray!important;
    text-underline-offset: 4px!important;
}

.catalog-element:hover {
    color: var(--bluent, blue)!important;
    text-decoration-color: var(--bluent, blue)!important;
}

.img-h22 {
    height: 22px;
}

.img-w40 {
    width: 40px;
}

.img-w50 {
    width: 50px;
}

.img-w100 {
    width: 100px;
}

.img-w400 {
    width: 400px;
}

.img-h200 {
    height: 200px;
}

.img1-group img {
    border: 3px solid white;
    padding: 3px;
}

.img1-group img:hover {
    border: 3px solid lightgray;
}

.btn1-border:hover {
    border: 1px solid blue !important;
}

.btn2:hover {
    border: 1px solid black !important;
    background-color: black !important;
    color: white!important;
}

.nav-link.active {
    text-decoration: overline blue;
    text-decoration-thickness: 3px;
}

.hover-heart:hover {
    color: blue!important;
}

.card {
    width: 250px!important;
    max-height: 400px;
    overflow: hidden;
    border: 1px solid white!important;
}

.card:hover {
    max-height: 445px;
    border: 1px solid lightgray!important;
}

.w-ft {
    width: fit-content;
}